body {
  margin: 0;
  padding: 0;
  background: #4a1170; /* morado */
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #000;
}

/* Texto vertical amarillo */ 
.vertical-text {
  position: absolute;
  left: 60px;
  top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 900;
  color: #eede54;
  letter-spacing: 3px;
}

/* Caja blanca estilo imagen */
.container {
  background: white;
  padding: 40px;
  width: 520px;
  border-radius: 0 0 20px 20px;
  margin: auto;
}

/* Título */
h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 900;
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 900;
}

/* Inputs estilo gris apagado */
input {
  width: 80%;
  padding: 14px;
  font-size: 14px;
  border: none;
  background: #d9d9d9;
  margin-bottom: 20px;
  color: #555;
}

/* Botón */
button {
  background: #4a1170;
  color: #f4d54e;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-weight: 900;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: block;         
  margin: 20px auto;     
}

@media (max-width: 800px) {
  .vertical-text {
    display: none !important;
  }
}